<%- include('../partials/header', { title: 'Developer Skills' }) %>

<h3><%= skill.skill %></h3>
<h3>Accquired: <%= skill.accquired? 'Yes' : 'No' %></h3>
<a href="/skills/<%= skill.id %>/edit">Edit skills</a>

<%- include('../partials/footer') %>
